/ Services Section
%section#services.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Our Services
        %h3.section-subheading.text-muted Fun to code. Beautiful design. Easy to use.
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-mobile.fa-stack-1x.fa-inverse
        %h4.service-heading Mobile Development
        %p.text-muted We love to build mobile application on iOS & Android.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-paint-brush.fa-stack-1x.fa-inverse
        %h4.service-heading UI & UX Design
        %p.text-muted We serve simple and beautiful design.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-code.fa-stack-1x.fa-inverse
        %h4.service-heading Web development
        %p.text-muted With Ruby on Rails we can build web even more faster and easier.
