%section#contact
  .container
    .row
      .col-md-12.text-center
        %h2.section-heading Contact Us
        %h3.section-subheading Let's get in touch. We are kindly to hear what you think.    

      .col-md-8
        .map
          #map-canvas.map-canvas{'data-latitude' => '13.7217297', 'data-longitude' => '100.5254564', 'data-zoom' => '15'}

      .col-md-4
        %address
          %strong Nuxos Asia
          %br
          142/10 Sathorn Naue Road.
          %br
          Soi. Suksawittaya (Sathorn 12)
          %br
          Silom, Bangrak, Bangkok
          %br
          10500
          %br
          %abbr{title: 'Phone'} P:
          085 9040 939
          %br
          %abbr{title: 'Email'} E:
          info.nuxos.asia
          %br
          %br
          %a.btn.btn-xl{href: "mailto:#{data.site.contact_email}"} Send Message

    .clearfix
