/ Header
%header
  .container
    .intro-text
      .intro-lead-in Welcome To Our Office!
      .intro-heading It's Nice To Meet You
      %a.page-scroll.btn.btn-xl{:href => "#services"} Tell Me More



= partial 'services'
= partial 'portfolio'
-#= partial 'about'
= partial 'team'
-#= partial 'customers'
= partial 'contact'