/ Header
%header
  .container
    .intro-text.sr-only-focusable
      .intro-lead-in
      .intro-heading



-#= partial 'services'
-#= partial 'portfolio'
-#= partial 'about'
= partial 'team'
-#= partial 'customers'
= partial 'contact'
