/ Header
%header
  .container
    .intro-text
      -#.intro-lead-in Welcome To Our Office!
      -#.intro-heading It's Nice To Meet You



= partial 'services'
-#= partial 'portfolio'
-#= partial 'about'
= partial 'team'
-#= partial 'customers'
= partial 'contact'
